.removeItemsBox {
    display: grid;
    grid-template-columns: 1fr;
}

.headerRemoveItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0px 20px;
}

.listDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0px 20px;
}
